name: Test that a kernel config includes required options

needs:
  packages:
    - busybox
    - apk-tools

inputs:
  config-path:
    default: "auto"
    description: "Path to kernel config. Default is to find ^boot/config-* in the package under test."
  config-options:
    description: "The kconfig options to test for"
    required: true
  absent-config-options:
    description: "The kconfig options to test for the absence of."

pipeline:
  - name: "check for required kernel config options"
    runs: |
      if [ "${{inputs.config-path}}" = "auto" ]; then
        kconf_path=/$(apk info -L ${{context.name}} | grep "^boot/config-")
      else
        kconf_path="${{inputs.config-path}}"
      fi
      echo "Using kernel config $kconf_path"
      # Do some cleanup to make both these work:
      # config-options: FOO BAR
      # config-options: |
      #   FOO
      #   BAR
      # and allow comments in multiline input.
      # Add CONFIG_ where it's not specified, and if the user specified CONFIG_*=?
      # without an explicit option, assume y or m is ok.
      cleanup_input() {
        input_options=$(echo "$@" | grep -Ev '^#|$^')
        for kconf_opt in $input_options; do
          case "$kconf_opt" in
            "CONFIG_"*)
              ;;
            *)
              kconf_opt="CONFIG_${kconf_opt}"
              ;;
          esac
          case "$kconf_opt" in
            "CONFIG_"*"="*)
              ;;
            *"=")
              kconf_opt="${kconf_opt}[ym]"
              ;;
            *)
              kconf_opt="${kconf_opt}=[ym]"
              ;;
          esac
          printf "$kconf_opt "
        done
      }
      EXIT=0
      for kconf_opt in $(cleanup_input "${{inputs.config-options}}"); do
        if ! grep -Ex "$kconf_opt" "$kconf_path"; then
          EXIT=1
          echo "Missing $kconf_opt"
        fi
      done

      for kconf_opt in $(cleanup_input "${{inputs.absent-config-options}}"); do
        if grep -Ex "$kconf_opt" "$kconf_path"; then
          EXIT=1
          echo "Found $kconf_opt which should be missing"
        fi
      done

      exit $EXIT
