name: Test that a kernel config includes required options

needs:
  packages:
    - busybox
    - apk-tools

inputs:
  config-path:
    default: "auto"
    description: "Path to kernel config. Default is to find ^boot/config-* in the package under test."
  config-options:
    description: "The kconfig options to test for"
    required: true

pipeline:
  - name: "check for required kernel config options"
    runs: |
      if [ "${{inputs.config-path}}" = "auto" ]; then
        kconf_path=/$(apk info -L ${{context.name}} | grep "^boot/config-")
      else
        kconf_path="${{inputs.config-path}}"
      fi
      echo "Using kernel config $kconf_path"
      # Do some cleanup to make both these work:
      # config-options: FOO BAR
      # config-options: |
      #   FOO
      #   BAR
      # and allow comments in multiline input.
      kconfig_options=$(echo "${{inputs.config-options}}" | grep -Ev '^#|$^')
      MISSING_OPTS=0
      for kconf_opt in $kconfig_options; do
        # Add CONFIG_ where it's not specified
        case "$kconf_opt" in
          "CONFIG_"*)
            ;;
          *)
            kconf_opt="CONFIG_${kconf_opt}"
            ;;
        esac
        # If the user specified CONFIG_*=? without an explicit option, assume y or m is ok.
        case "$kconf_opt" in
          "CONFIG_"*"="*)
            ;;
          *"=")
            kconf_opt="${kconf_opt}[ym]"
            ;;
          *)
            kconf_opt="${kconf_opt}=[ym]"
            ;;
        esac
        if ! grep -Ex "$kconf_opt" "$kconf_path"; then
          MISSING_OPTS=1
          echo "Missing $kconf_opt"
        fi
      done
      exit $MISSING_OPTS
