[Unit]
Description=Hyper-V VSS daemon
Conflicts=hv-vss-daemon.service
BindsTo=sys-devices-vritual-misc-vmbus\x21hv_vss.device
ConditionPathExists=/dev/vmbus/hv_vss

[Service]
ExecStart=/usr/bin/hv_vss_daemon -n

[Install]
WantedBy=multi-user.target
