# https://github.com/systemd/systemd/blob/5ca1865ad95a10b744321d21293587ed1d446ee6/README
CONFIG_DEVTMPFS=y
CONFIG_CGROUPS=y
CONFIG_INOTIFY_USER=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EPOLL=y
CONFIG_UNIX=y
CONFIG_SYSFS=y
CONFIG_PROC_FS=y
CONFIG_FHANDLE=y
CONFIG_SYSFS_DEPRECATED=n
CONFIG_UEVENT_HELPER_PATH=""
CONFIG_FW_LOADER_USER_HELPER=n
CONFIG_DMIID=y
CONFIG_BLK_DEV_BSG=y
CONFIG_NET_NS=y

# Optional
CONFIG_IPV6=y
CONFIG_AUTOFS_FS=y
CONFIG_TMPFS_XATTR=y

# Skipping ACLs for now
CONFIG_SECCOMP=y
CONFIG_SECCOMP_FILTER=y
CONFIG_NET_SCHED=y
CONFIG_NET_SCH_FQ_CODEL=y

# Required for CPUShares=
CONFIG_CGROUP_SCHED=y
CONFIG_FAIR_GROUP_SCHED=y

# Required for CPUQuota=
CONFIG_CFS_BANDWIDTH=y

# Required for IPAddressDeny=, IPAddressAllow=, IPIngressFilterPath=, IPEgressFilterPath=
CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_CGROUP_BPF=y
CONFIG_BPF_UNPRIV_DEFAULT_OFF=y
# CONFIG_BPF_PRELOAD is not set
CONFIG_BPF_STREAM_PARSER=y
# CONFIG_NETKIT is not set

# Required for SocketBind{Allow|Deny}=, RestrictNetworkInterfaces=
CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_CGROUP_BPF=y

# For UEFI systems:
CONFIG_EFIVARS_FS=y
CONFIG_EFI_PARTITION=y

# Config dependencies
CONFIG_INTEGRITY_PLATFORM_KEYRING=y
CONFIG_INTEGRITY_ASYMMETRIC_KEYS=y
CONFIG_SYSTEM_BLACKLIST_KEYRING=y
CONFIG_SECONDARY_TRUSTED_KEYRING=y
# DM Verity
CONFIG_DM_VERITY=y
CONFIG_DM_VERITY_VERIFY_ROOTHASH_SIG=y
CONFIG_DM_VERITY_VERIFY_ROOTHASH_SIG_SECONDARY_KEYRING=y
CONFIG_DM_VERITY_VERIFY_ROOTHASH_SIG_PLATFORM_KEYRING=y

# Config dependencies
CONFIG_IMA=y
CONFIG_IMA_APPRAISE=y
CONFIG_INTEGRITY_ASYMMETRIC_KEYS=y
CONFIG_INTEGRITY_SIGNATURE=y
CONFIG_LOAD_UEFI_KEYS=y
# Skipping Verity images and MOK keys
CONFIG_IMA_ARCH_POLICY=y
CONFIG_INTEGRITY_MACHINE_KEYRING=y

# Required for reading credentials from SMBIOS:
CONFIG_DMI=y
CONFIG_DMI_SYSFS=y

# Config dependencies
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
CONFIG_DEBUG_INFO=y
CONFIG_BPF_EVENTS=y

# Required for RestrictFileSystems= in service units
CONFIG_FTRACE=y
CONFIG_UPROBE_EVENTS=y
CONFIG_BPF=y
CONFIG_BPF_EVENTS=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_LSM=y
CONFIG_DEBUG_INFO_BTF=y
# We can set the LSM at boot

# Yeah turn of RT in VMs
CONFIG_RT_GROUP_SCHED=n

# Systemd nspawn
CONFIG_DEVPTS_MULTIPLE_INSTANCES=y

# systemd-oomd
CONFIG_PSI=y
CONFIG_MEMCG=y
# CONFIG_MEMCG_V1 is not set

# user namespaces
CONFIG_USER_NS=y

# CONFIG_PSI_DEFAULT_DISABLED is not set
