[submodule "os"]
	path = os
	url = https://github.com/wolfi-dev/os
[submodule "enterprise-packages"]
	path = enterprise-packages
	url = https://github.com/chainguard-dev/enterprise-packages
[submodule "extra-packages"]
	path = extra-packages
	url = https://github.com/chainguard-dev/extra-packages
