# Each line is a file pattern followed by one or more owners.
/.github/ @chainguard-dev/images-maintainers
/.chainguard/ @chainguard-dev/images-maintainers
/openssl-fips/ @chainguard-dev/images-maintainers
Makefile @chainguard-dev/images-maintainers

CODEOWNERS @chainguard-dev/images-owners
