# Each line is a file pattern followed by one or more owners.


# The foundations-squad includes members of the of the former Foundations
# team and the Guarded OS team and the larger team provides more around the
# clock coverage so should not change in the near future.

# Require review by repo owners of changes to CODEOWNERS
CODEOWNERS @chainguard-dev/foundations-squad

# Important CI and Repo configuration
.chainguard/ @chainguard-dev/images-maintainers @chainguard-dev/foundations-squad
.github/ @chainguard-dev/images-maintainers @chainguard-dev/foundations-squad
.pre-commit-config.yaml @chainguard-dev/foundations-squad

# Makefile and pipeline changes require approval of the Foundations squad.
Makefile   @chainguard-dev/foundations-squad
pipelines/ @chainguard-dev/foundations-squad
