# Each line is a file pattern followed by one or more owners.

# Require review by repo owners of changes to CODEOWNERS
CODEOWNERS @chainguard-dev/guarded-os-team-write

# Important CI and Repo configuration
.chainguard/            @chainguard-dev/guarded-os-team-write
.github/                @chainguard-dev/guarded-os-team-write
.github/chainguard/     @chainguard-dev/developer-platform-team-write
.pre-commit-config.yaml @chainguard-dev/guarded-os-team-write


# Adapted from os/CODEOWNERS

# Makefile and pipeline changes require approval of the Foundations squad.
os/Makefile   @chainguard-dev/guarded-os-team-write
os/pipelines/ @chainguard-dev/guarded-os-team-write

# These packages require approval from the OS tream
os/binutils.yaml                 @chainguard-dev/guarded-os-team-write
os/ca-certificates.yaml          @chainguard-dev/guarded-os-team-write
os/clang-*.yaml                  @chainguard-dev/guarded-os-team-write
os/gcc*.yaml                     @chainguard-dev/guarded-os-team-write
os/glibc.yaml                    @chainguard-dev/guarded-os-team-write
os/llvm*.yaml                    @chainguard-dev/guarded-os-team-write
os/openssf-compiler-options.yaml @chainguard-dev/guarded-os-team-write
os/openssf-compiler-options/     @chainguard-dev/guarded-os-team-write
os/openssh.yaml                  @chainguard-dev/guarded-os-team-write
os/openssl.yaml                  @chainguard-dev/guarded-os-team-write
# New perl releases may require a transition. Until that's automated:
os/perl.yaml                     @chainguard-dev/guarded-os-team-write
os/go-1.*.yaml                   @chainguard-dev/guarded-os-team-write
os/go-2.*.yaml                   @chainguard-dev/guarded-os-team-write
os/python*.yaml                  @chainguard-dev/guarded-os-team-write
os/python*/                      @chainguard-dev/guarded-os-team-write
os/php-8.5.yaml                  @chainguard-dev/guarded-os-team-write
os/dotnet-*.yaml                 @chainguard-dev/guarded-os-team-write
os/ruby-*.yaml                   @chainguard-dev/guarded-os-team-write
os/rust-1.*.yaml                 @chainguard-dev/guarded-os-team-write
os/rust-2.*.yaml                 @chainguard-dev/guarded-os-team-write


# Adapted from extra-packages/CODEOWNERS

# Makefile and pipeline changes require approval of the Foundations squad.
extra-packages/Makefile   @chainguard-dev/guarded-os-team-write
extra-packages/pipelines/ @chainguard-dev/guarded-os-team-write

# Until we have automated GPU testing, we should make sure new releases are
# manually tested on a GPU before landing them.
extra-packages/py3-torch-cuda-.*.yaml	@chainguard-dev/guarded-os-team-write


# Adapted from enterprise-packages/CODEOWNERS

# Makefile and pipeline changes require approval of the Foundations squad.
enterprise-packages/Makefile   @chainguard-dev/guarded-os-team-write
enterprise-packages/pipelines/ @chainguard-dev/guarded-os-team-write

# Ensure FIPS set of eyes for updates to CMVP FIPS certified modules
enterprise-packages/bouncycastle-fips.yaml       @chainguard-dev/fips-reviewers
enterprise-packages/bouncycastle-rng-jent.yaml   @chainguard-dev/fips-reviewers
enterprise-packages/openssl-provider-fips.yaml   @chainguard-dev/fips-reviewers
enterprise-packages/openssl-provider-fips-*.yaml @chainguard-dev/fips-reviewers
enterprise-packages/boringssl-fips-static-*.yaml @chainguard-dev/fips-reviewers
enterprise-packages/aws-lc-fips.yaml             @chainguard-dev/fips-reviewers
enterprise-packages/libgcrypt-al2023-fips.yaml   @chainguard-dev/fips-reviewers
enterprise-packages/NIST-*.yaml                  @chainguard-dev/fips-reviewers
