# Support overriding with OPENSSL_CONF_INCLUDE
.pragma includedir:/etc/ssl

config_diagnostics = 1
openssl_conf = openssl_init

.include fipsmodule.cnf

# Include hardened configuration for ca & req apps
.include ca.cnf

[openssl_init]
alg_section = evp_properties
providers = provider_sect
random = random

[evp_properties]
default_properties = fips=yes

[provider_sect]
fips = fips_sect
base = base_sect

[base_sect]
activate = 1

[random]
seed = JITTER
