[Unit]
Description=Hyper-V file copy service (uio_hv_generic)
ConditionPathExists=/dev/vmbus/uio_hv_generic

[Service]
ExecStart=/usr/bin/hv_fcopy_uio_daemon -n

[Install]
WantedBy=multi-user.target

