openssl_conf = openssl_init

# Comment out the next line to ignore configuration errors
config_diagnostics = 1

.include /etc/ssl/fipsmodule.cnf

# Include hardened configuration for ca & req apps
.include /etc/ssl/ca.cnf

[openssl_init]
alg_section = evp_properties
providers = provider_sect
random = random

[evp_properties]
default_properties = "fips=yes"

[provider_sect]
fips = fips_sect
base = base_sect

[base_sect]
activate = 1

[random]
seed = JITTER
