[Unit]
Description=Run cloud-ssh-keys-fetcher at boot
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cloud-ssh-keys-fetcher

[Install]
WantedBy=multi-user.target
