package:
  name: PACKAGE_NAME
  version: "CHART_VERSION"
  epoch: 0
  description: PACKAGE_DESCRIPTION
  copyright:
    - license: Apache-2.0

environment:
  contents:
    packages:
      - PACKAGE_DEPENDENCIES

pipeline:
  - uses: auth/github
    with:
      repo: chainguard-dev/iamguarded-charts

  - uses: git-checkout
    with:
      repository: https://github.com/chainguard-dev/iamguarded-charts
      tag: GIT_TAG
      expected-commit: EXPECTED_COMMIT

  - uses: patch
    with:
      patches: iamguarded.patch

  - uses: iamguarded/prepare
    with:
      chart-path: CHART_PATH

  - uses: charts/package
    with:
      chart-path: CHART_PATH

update:
  enabled: true
  github:
    identifier: chainguard-dev/iamguarded-charts
    strip-prefix: STRIP_PREFIX
    use-tag: true
    tag-filter-prefix: TAG_FILTER_PREFIX

test:
  pipeline:
    - uses: auth/github
      with:
        repo: chainguard-dev/iamguarded-charts
    - uses: iamguarded/validate
      with:
        chart-name: VALIDATE_CHART_NAME
