[Unit]
Description=Run chainctl auth refreshd

[Service]
Type=simple
ExecStart=chainctl auth login --refresh-only \
    --audience=https://console-api.enforce.dev \
    --audience=apk.cgr.dev \
    --audience=cgr.dev \
    --audience=libraries.cgr.dev

[Install]
WantedBy=default.target
