[Unit]
DefaultDependencies=no
Conflicts=umount.target
After=systemd-remount-fs.service systemd-tmpfiles-setup.service
ConditionKernelCommandLine=chainguard.immutable=volatile
[Mount]
What=overlay
Where=/etc
Type=overlay
Options=lowerdir=/etc,upperdir=/run/overlays/etc/upper,workdir=/run/overlays/etc/work
[Install]
WantedBy=sysinit.target
