[Unit]
DefaultDependencies=no
Conflicts=umount.target
After=systemd-remount-fs.service systemd-tmpfiles-setup.service
ConditionKernelCommandLine=chainguard.immutable=volatile
[Mount]
What=overlay
Where=/root
Type=overlay
Options=lowerdir=/root,upperdir=/run/overlays/root/upper,workdir=/run/overlays/root/work
[Install]
WantedBy=sysinit.target
