[Unit]
DefaultDependencies=no
Conflicts=umount.target
After=systemd-remount-fs.service systemd-tmpfiles-setup.service
ConditionKernelCommandLine=chainguard.immutable=volatile
[Mount]
What=overlay
Where=/usr/local/share/ca-certificates
Type=overlay
Options=lowerdir=/usr/local/share/ca-certificates,upperdir=/run/overlays/usr/local/share/ca-certificates/upper,workdir=/run/overlays/usr/local/share/ca-certificates/work
[Install]
WantedBy=sysinit.target
