[Unit]
DefaultDependencies=no
Conflicts=umount.target
After=systemd-remount-fs.service overlay-prepare.service
ConditionKernelCommandLine=chainguard.immutable=volatile
[Mount]
What=overlay
Where=/usr/local/
Type=overlay
Options=lowerdir=/usr/local,upperdir=/run/overlays/usr/local/upper,workdir=/run/overlays/usr/local/work
[Install]
WantedBy=sysinit.target
