[Unit]
DefaultDependencies=no
Before=var.mount
After=systemd-remount-fs.service
ConditionKernelCommandLine=chainguard.immutable=volatile

[Service]
Type=oneshot
ExecStart=/usr/bin/mkdir -p /run/overlays/var/upper /run/overlays/var/work
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
