# Each line is a file pattern followed by one or more owners.


# Require review by repo owners of changes to CODEOWNERS
CODEOWNERS @chainguard-dev/guarded-os-team-write @chainguard-dev/guarded-vms-team-write

# Important CI and Repo configuration
.chainguard/            @chainguard-dev/guarded-os-team-write @chainguard-dev/guarded-vms-team-write
.github/                @chainguard-dev/guarded-os-team-write @chainguard-dev/guarded-vms-team-write
.github/chainguard/     @chainguard-dev/platform-team-write
.pre-commit-config.yaml @chainguard-dev/guarded-os-team-write @chainguard-dev/guarded-vms-team-write

# Makefile and pipeline changes require approval of the Foundations squad.
Makefile   @chainguard-dev/guarded-os-team-write @chainguard-dev/guarded-vms-team-write
pipelines/ @chainguard-dev/guarded-os-team-write @chainguard-dev/guarded-vms-team-write

# Until we have automated GPU testing, we should make sure new releases are
# manually tested on a GPU before landing them.
py3-torch-cuda-.*.yaml	@chainguard-dev/guarded-os-team-write @chainguard-dev/guarded-vms-team-write
