[Unit]
Description=Run workstation-v2-home-mounter at boot
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/workstation-v2-home-mounter

[Install]
WantedBy=multi-user.target
