grant {
 // B.2.7 Sample Policy File
 // setting of the default random
 permission org.bouncycastle.crypto.CryptoServicesPermission "defaultRandomConfig";
 // setting of thread local config
 permission org.bouncycastle.crypto.CryptoServicesPermission "threadLocalConfig";
 // setting of global config
 permission org.bouncycastle.crypto.CryptoServicesPermission "globalConfig";
 // getting properties
 permission java.security.SecurityPermission "getProperty.*";
 permission java.util.PropertyPermission "os.arch", "read";
 permission java.util.PropertyPermission "os.name", "read";
 permission java.util.PropertyPermission "java.io.tmpdir", "read";
 // to allow property check under org.bouncycastle
 permission java.util.PropertyPermission "org.bouncycastle.*", "read";
 // to allow property check
 permission java.util.PropertyPermission "java.runtime.name", "read";
 // to allow module to export private/secret keys
 permission org.bouncycastle.crypto.CryptoServicesPermission "exportKeys";
 // Used to enable reflection from BaseSecretKeyFactory, ChaCha20SpecUtil, ClassUtil,
 // GCMSpecUtil, and ProvEC
 permission java.lang.RuntimePermission "accessDeclaredMembers";
 // required access to allow checksum check
 permission java.lang.RuntimePermission "getProtectionDomain";
 // used by the DisposalDaemon
 permission java.lang.RuntimePermission "shutdownHooks";
 // The following depends on how you choose to manage jvm access temp dir.
 // In order to load the native library after they are extracted from the jar
 // if you are not using fixed extraction directory you will need to give the
 // JVM permission to read,write and execute from the temp directory.
 permission java.lang.RuntimePermission "loadLibrary.*";
 permission java.io.FilePermission "${java.io.tmpdir}", "read,write,delete";
 // the '/-' is important!
 permission java.io.FilePermission "${java.io.tmpdir}${/}-", "read,write,execute,delete";
 // If using a specific extraction ditectory, ie set
 // by -Dorg.bouncycastle.native.loader.install_dir=/<path_to>/tst_libs/
 // Set descendents of that directory as read,write,execute alternatively you can examine
 // the content written to that directory and be very specific about it
 //permission java.io.FilePermission "/<path_to>/tst_libs/-","read,write,execute,delete";
 // Likewise you can specify each library that you are allowing to load, the name of the
 // lib must be the full path to that lib file – note file names will depend on the varient
 // detected (vaesf shown here).
 //permission java.lang.RuntimePermission "loadLibrary./<path_to>/tst_libs/2.1.2/libbc-probe.so";
 //permission java.lang.RuntimePermission "loadLibrary./<path_to>/tst_libs/2.1.2/libbc-fipsvaesf.so"; // name will depend on variant detected
 // Or you can just use the wildcard
 //permission java.lang.RuntimePermission "loadLibrary.*";

 // B.1 Java permissions
 permission java.security.SecurityPermission "insertProvider.BCFIPS";
 permission java.security.SecurityPermission "putProviderProperty.BCFIPS";

 // B.2.2 Use of CryptoServicesRegistrar.setApprovedMode(true)
 permission org.bouncycastle.crypto.CryptoServicesPermission "unapprovedModeEnabled";

 // B.2.3 Key Export and Translation
 permission org.bouncycastle.crypto.CryptoServicesPermission "exportKeys";

 // B.2.4 SSL Support
 permission org.bouncycastle.crypto.CryptoServicesPermission "tlsAlgorithmsEnabled";

 // B.2.2 Use of setApprovedMode
 permission org.bouncycastle.crypto.CryptoServicesPermission "changeToApprovedModeEnabled";

 // Chainguard previously set permissions
 permission java.lang.RuntimePermission "accessClassInPackage.sun.security.internal.spec";
 permission java.lang.RuntimePermission "accessClassInPackage.sun.security.*";

 // BCRNG needs
 permission java.util.logging.LoggingPermission "control";

 // Location of bc-fips jars
 permission java.io.FilePermission "/usr/share/java/bouncycastle-fips/-", "read";

 // BC-FJA-(D)TLSUserGuide-2.1.20 Appendix B
 permission java.security.SecurityPermission "putProviderProperty.BCJSSE";
 permission java.util.PropertyPermission "com.sun.net.ssl.*", "read";
 permission java.util.PropertyPermission "javax.net.ssl.*", "read";
 permission java.util.PropertyPermission "jdk.tls.*", "read";
 permission java.util.PropertyPermission "jsse.enableFFDHE", "read";
 permission java.util.PropertyPermission "jsse.enableSNIExtension", "read";
 permission java.util.PropertyPermission "sun.security.ssl.allowLegacyHelloMessages", "read";
 permission java.util.PropertyPermission "org.bouncycastle.jsse.*", "read";

 // Allow to read default cacerts trust stores
 permission java.io.FilePermission "${java.home}/lib/security/jssecacerts", "read";
 permission java.io.FilePermission "${java.home}/lib/security/cacerts", "read";
 permission java.io.FilePermission "/etc/ssl/certs/java/*", "read";
};
