*.vhd
*.tar.gz
*.raw
*.cpio.gz
*.cpio
*.tar.gz
*.tar
vmlinuz*
builder
output
.DS_Store
apkoaas
.awspub.mapping
converted/
test-results
tools/art
tools/azure-cleanup
tools/azure-cleanup
tools/azure-image-upload
tools/gcp-cleanup
tools/stalemate
tools/yam
tools/yq
configs/*/*_lock.cue
configs/*/build.tmp.yaml
