[Unit]
Description=Ephemeral directory for local certificates
DefaultDependencies=no
Conflicts=umount.target
After=systemd-remount-fs.service usr.mount
Requires=systemd-remount-fs.service usr.mount

[Mount]
What=tmpfs
Where=/usr/local/share/ca-certificates
Type=tmpfs
Options=nodev,noexec,nosuid,mode=0755

[Install]
WantedBy=multi-user.target

