# Ignore SR-IOV interface on Azure, since it's transparently bonded
# to the synthetic interface
# See https://learn.microsoft.com/en-us/azure/virtual-network/accelerated-networking-overview?tabs=ubuntu#configure-drivers-to-be-unmanaged
[Match]
Driver=mlx4_en mlx5_en mlx4_core mlx5_core
[Link]
Unmanaged=yes
