[Unit]
Description=Chainguard Workstation Boot
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/chainguard-workstation-boot.sh

[Install]
WantedBy=multi-user.target