grant {
    permission java.security.SecurityPermission "getProperty.keystore.type.compat";
    permission java.security.SecurityPermission "getProperty.jdk.tls.disabledAlgorithms";
    permission java.security.SecurityPermission "getProperty.jdk.certpath.disabledAlgorithms";
    permission java.security.SecurityPermission "getProperty.org.bouncycastle.ec.max_f2m_field_size";
    permission java.security.SecurityPermission "getProperty.org.bouncycastle.rsa.max_size";
    permission java.io.FilePermission "/usr/lib/jvm/java-21-openjdk/lib/security/jssecacerts", "read";
    permission java.io.FilePermission "/usr/lib/jvm/java-21-openjdk/lib/security/cacerts", "read";
};
