[Unit]
Description=Setup machine-id after /etc mount
After=etc.mount
Requires=etc.mount
Before=sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/rm /etc/machine-id
ExecStart=/usr/bin/systemd-machine-id-setup

[Install]
RequiredBy=etc.mount
