[Unit]
DefaultDependencies=no
Conflicts=umount.target
After=systemd-remount-fs.service overlay-prepare.service
ConditionKernelCommandLine=chainguard.immutable=volatile
[Mount]
What=overlay
Where=/home
Type=overlay
Options=lowerdir=/home,upperdir=/run/overlays/home/upper,workdir=/run/overlays/home/work
[Install]
WantedBy=sysinit.target
