[Unit]
DefaultDependencies=no
Conflicts=umount.target
After=systemd-remount-fs.service overlay-prepare.service
Before=systemd-tmpfiles-setup.service
ConditionKernelCommandLine=chainguard.immutable=volatile
[Mount]
What=overlay
Where=/var
Type=overlay
Options=lowerdir=/var,upperdir=/run/overlays/var/upper,workdir=/run/overlays/var/work
[Install]
WantedBy=sysinit.target
