# Each line is a file pattern followed by one or more owners.

# Require review by repo owners of changes to CODEOWNERS
CODEOWNERS @chainguard-dev/guarded-os-team-write @chainguard-dev/guarded-vms-team-write

# Important CI and Repo configuration
.chainguard/            @chainguard-dev/guarded-os-team-write @chainguard-dev/guarded-vms-team-write
.github/                @chainguard-dev/guarded-os-team-write @chainguard-dev/guarded-vms-team-write
.pre-commit-config.yaml @chainguard-dev/guarded-os-team-write @chainguard-dev/guarded-vms-team-write

# Makefile and pipeline changes require approval of the Foundations squad.
Makefile   @chainguard-dev/guarded-os-team-write @chainguard-dev/guarded-vms-team-write
pipelines/ @chainguard-dev/guarded-os-team-write @chainguard-dev/guarded-vms-team-write

# Ensure FIPS set of eyes for updates to CMVP FIPS certified modules
bouncycastle-fips.yaml       @chainguard-dev/fips-reviewers
bouncycastle-rng-jent.yaml   @chainguard-dev/fips-reviewers
openssl-provider-fips.yaml   @chainguard-dev/fips-reviewers
openssl-provider-fips-*.yaml @chainguard-dev/fips-reviewers
boringssl-fips-static-*.yaml @chainguard-dev/fips-reviewers
aws-lc-fips.yaml             @chainguard-dev/fips-reviewers
libgcrypt-al2023-fips.yaml   @chainguard-dev/fips-reviewers
NIST-*.yaml                  @chainguard-dev/fips-reviewers

# Ensure new major versions of envoy, use next/new boringssl
cilium-envoy-fips-1.19.yaml @xnox
envoy-fips-1.37.yaml        @xnox
istio-envoy-fips-1.29.yaml  @xnox
